.card {
  background-color: white;
  border: 1px solid var(--gray-text);
  border-radius: 8px;
  margin-top: 16px; // from PopularTags

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px 10px 0;
  }

  &__content {
    padding: 0 20px;
  }

  &__title {
    font:
      600 32px 'Titillium Web',
      sans-serif;
    color: var(--black-title);
    margin: 0 0 12px 0;
    line-height: 1.3;
    word-break: break-word;
  }

  &__text {
    font:
      400 16px 'Source Sans Pro',
      sans-serif;
    color: var(--gray-text);
    margin: 0 0 20px 0;
    line-height: 1.5;
  }
}
