.favorite {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 77px;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--green-primary);
  border-radius: 8px;
  color: var(--green-primary);
  cursor: pointer;

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__count {
    font:
      400 12.8px 'Source Sans Pro',
      sans-serif;
    color: var(--green-primary);
  }

  &:hover {
    background-color: var(--green-primary);
    color: white;

    .favorite__icon {
      filter: brightness(0) invert(1);
    }
  }
}
