.header {
  background-color: white;
  height: 60px;
  border-bottom: 1px solid var(--border-light);

  &__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }

  &__logo {
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: var(--green-dark);
    flex-shrink: 0;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-left: auto;
    flex-shrink: 0;
  }

  &__navLink {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 6.5px;
    white-space: nowrap;

    &:hover {
      opacity: 0.8;
    }
  }

  &__navIcon {
    width: 20px;
    height: 20px;
  }
}
