.header {
  background-color: white;
  height: 60px;
}

.header__inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__logo {
  font-family: 'Titillium Web', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #61bb61;
  flex-shrink: 0;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-left: auto;
  flex-shrink: 0;
}

.header__navLink {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 6.5px;
  white-space: nowrap;
}

.header__navLink:hover {
  opacity: 0.8;
}

.header__navIcon {
  width: 20px;
  height: 20px;
}
