.banner {
  width: 100%;
  height: 348px;
  background-color: var(--black-title);
  padding: 48px 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar {
    width: 132px;
    height: 132px;
    border-radius: 64px;
    margin-bottom: 10px;
    object-fit: cover;
    margin-top: 10px;
  }

  &__username {
    font:
      600 32px 'Titillium Web',
      sans-serif;
    color: var(--white);
    margin: 0;
    text-align: center;
  }
}
