.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 240px;
  box-sizing: border-box;

  @media (max-width: 1400px) {
    padding: 0 120px;
  }
  @media (max-width: 1100px) {
    padding: 0 60px;
  }
  @media (max-width: 900px) {
    padding: 0 30px;
  }
  @media (max-width: 640px) {
    padding: 0 20px;
  }
}
