.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 20px;
  min-height: 400px;
}

.loader__icon {
  width: 64px;
  height: 64px;
  animation: spin 1.5s linear infinite;
}

.loader__text {
  margin-top: 24px;
  font:
    400 32px 'Titillium Web',
    sans-serif;
  color: var(--green-primary);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
