.banner {
  width: 100%;
  height: 190px;
  background-color: #61bb61;
  padding: 60px 20px;
  text-align: center;
  margin: 0 0 40px 0;
}

.banner__content {
  text-align: center;
  color: white;
}

.banner__title {
  position: relative;
  display: inline-block;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 56px;
  color: white;
  margin: 0 0 16px 0;
}

.banner__underline {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -8px;
  height: 2px;
  background-color: white;
}

.banner__subtitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: white;
  margin: 0;
  opacity: 0.9;
}
