/* src/components/banner/HeroBanner.module.css */

.banner {
 width: 100%;
  height: 190px;
  /* margin-left: calc(-50vw + 50%);  выезжает за контейнер влево и вправо */
  background-color: #61bb61;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  padding: 60px 20px;
  text-align: center;
  margin: 0 0 40px 0;
}

.banner__content {
  text-align: center;
  color: white;
}

.banner__title {
  position: relative;
  display: inline-block;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 56px;
  color: white;
  margin: 0 0 16px 0;
}

.banner__underline {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -8px;
  height: 2px;
  background-color: white;
}

.banner__subtitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: white;
  margin: 0;
  opacity: 0.9;
}